/* @media only screen and (max-width: 2000px) and (min-width:1100px) { */
.NavbarArea {
    position: fixed;
    margin: 0;
    padding: 0;
    background-color: #952323;
    width: 100%;
    z-index: 1;
}



.NavbarArea ul {
    /* padding: 0px 175px; */
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin: 0;
    height: 70px;

    overflow: visible;
}

.NavbarArea .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 100%;
    margin-right: auto;
}

.NavbarArea a[class="logo active"],
.NavbarArea a[class="NavbarItem searchItem active"] {
    background-color: #952323;
}

.NavbarArea a[class="NavbarItem searchItem active"]:hover {
    cursor: auto;
}

.NavbarArea .active {
    background-color: #A73121;
}

.NavbarArea a:hover {
    background-color: #A73121
}

.NavbarArea a[class="logo"]:hover,
.NavbarArea a[class="logo active"]:hover {
    background-color: #952323
}

/* .NavbarArea a:nth-of-type(2):hover {
    cursor: auto;
} */

.NavbarArea img {
    width: 125px;
}






.SearchDropdownContent {
    overflow: hidden;
    display: block;
    height: 0;
    box-sizing: border-box;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #952323;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.searchItem:hover .SearchDropdownContent {
    display: block;
    height: 360px;
}

.SearchDropdownContent h2 {
    display: flex;
    justify-content: center;
}

.searchFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* @media only screen and (max-width: 1099px) and (min-width:300px) {
    .NavbarArea > .NavbarItem{
        display: none;
    }
} */

.NavbarArea #sighIn a {
    background-color: #952323;
}

.NavbarArea #sighIn a:hover {
    background-color: #A73121;
}