/* @media only screen and (max-width: 2000px) and (min-width:1100px) { */
.NavbarArea {
    position: fixed;
    margin: 0;
    padding: 0;
    background-color: #952323;
    width: 100%;
    z-index: 1;
}



.NavbarArea ul {
    /* padding: 0px 175px; */
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin: 0;
    height: 70px;

    overflow: visible;
}

.NavbarArea .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 100%;
    margin-right: auto;
}

.NavbarArea a[class="logo active"],
.NavbarArea a[class="NavbarItem searchItem active"] {
    background-color: #952323;
}

.NavbarArea a[class="NavbarItem searchItem active"]:hover {
    cursor: auto;
}

.NavbarArea .active {
    background-color: #A73121;
}

.NavbarArea a:hover {
    background-color: #A73121
}

.NavbarArea a[class="logo"]:hover,
.NavbarArea a[class="logo active"]:hover {
    background-color: #952323
}

/* .NavbarArea a:nth-of-type(2):hover {
    cursor: auto;
} */

.NavbarArea img {
    width: 125px;
}






.SearchDropdownContent {
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    width: 102vw;
    height: 360px;
    background-color: #952323;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.searchItem:hover .SearchDropdownContent {
    display: block;
}

.SearchDropdownContent h2 {
    display: flex;
    justify-content: center;
}

.searchFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchDropdownContent form {
    display: grid;
    grid-template-columns: 350px 1fr;
    column-gap: 30px;
    row-gap: 10px;
    margin: 30px;
}

.SearchDropdownContent form input[type="text"],
.SearchDropdownContent form input[type="date"],
.SearchDropdownContent form input[type="time"],
.SearchDropdownContent form input[type="select"] {
    margin: 0;
    padding: 0;
    border: 0;
    height: 40px;
    line-height: 100%;
    font-size: 20px;
}

.SearchDropdownContent form input:focus {
    outline-width: 0;
}

.SearchDropdownContent form div:nth-of-type(1) input,
.SearchDropdownContent form div:nth-of-type(3) input {
    width: 100%;
    padding-left: 10px;
}

.searchFormContainer form button {
    grid-column: span 2;
    margin: 30px 200px;
    height: 50px;
    font-size: 22px;
    color: #FAF6E9;
    background-color: #A73121;
    border: 1px solid #952323;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.searchFormContainer form button:hover {
    cursor: pointer;
    background-color: #FAF6E9;
    color: #A73121;
    scale: 1.03;
    transition: 250ms;
}

.searchFormContainer form div:nth-of-type(5) {
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

select>* {
    height: 30px;
    font-size: 16px;
}

/* } */

/* @media only screen and (max-width: 1099px) and (min-width:300px) {
    .NavbarArea > .NavbarItem{
        display: none;
    }
} */

.NavbarArea #sighIn a {
    background-color: #952323;
}

.NavbarArea #sighIn a:hover {
    background-color: #A73121;
}