.CategoryPage {
    padding: 0px 175px;
}

.CategoryPageGridContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 60px;
}

.CategoryPageGridContainer>* {
    grid-column: span 2;
}

.CategoryPage h1 {
    margin-bottom: 0;
}

.CategoryPage h3 {
    margin-top: 10px;
}

.CategoryPage h3 a {
    color: black;
}