.Links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: fit-content;
    padding: 0 175px;
    background-color: #F2EEE0;
    border-top: 2px solid #A73121;
}

.Links .contact-icons {
    /* height: 100%;
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; */
    position: fixed;
    bottom: 0px;
    right: 10px;
    mix-blend-mode: multiply;
}

.Links .contact-icons>div {
    align-self: flex-end;
}

.Links .contact-icons h3 {
    /* margin: 10px 0px; */
    margin: 0px;
    text-align: center;
    color: #952323;
}

.Links .contact-icons img {
    width: 50px;
}

.family-container {
    display: flex;
    justify-content: center;
}