.Info {
    padding: 0px 175px;
}

.Info .row-container {
    margin-bottom: 60px;
}

.Info p {
    font-size: 20px;
}

.Info p::first-letter {
    font-weight: 600;
    font-size: 35px;
}

.Info .row-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1357px;
}