.FleetItem {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 400px;
    height: 300px;
    margin: 30px;
    border-radius: 20px;
    background-color: #A73121;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    transition: all 0.5s;
}

.FleetItem:hover {
    scale: 1.03;
    transition: 250ms;
}

.FleetItem img {
    width: 300px;
}