.SearchForm {
	
}
.SearchForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #952323;
}

/* .SearchDropdownContent {
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    width: 102vw;
    height: 360px;
    background-color: #952323;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
} */


.SearchForm h2 {
    font-size: 30px;
    color: #FFF;
    font-weight: 700;
}


.SearchForm form {
    display: grid;
    grid-template-columns: 350px 1fr;
    column-gap: 30px;
    row-gap: 10px;
    margin: 30px;
}

.SearchForm form input[type="text"],
.SearchForm form input[type="date"],
.SearchForm form input[type="time"],
.SearchForm form input[type="select"] {
    margin: 0;
    padding: 0;
    border: 0;
    height: 40px;
    line-height: 100%;
    font-size: 20px;
}

.SearchForm form input:focus {
    outline-width: 0;
}

.SearchForm form div:nth-of-type(1) input,
.SearchForm form div:nth-of-type(3) input {
    width: 100%;
    padding-left: 10px;
}
.SearchForm label{
    color: #FFF;
    font-size: 20px;
}

.SearchForm form button {
    grid-column: span 2;
    margin: 30px 200px;
    height: 50px;
    font-size: 22px;
    color: #FAF6E9;
    background-color: #A73121;
    border: 1px solid #952323;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.SearchForm form button:hover {
    cursor: pointer;
    background-color: #FAF6E9;
    color: #A73121;
    scale: 1.03;
    transition: 250ms;
}

.SearchForm form div:nth-of-type(5) {
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.SearchForm select>* {
    height: 30px;
    font-size: 16px;
}