.BusinessRental {}

.BusinessRental #header .img-container {
    position: relative;
    height: 340px;
}

.BusinessRental .img-container-content {
    position: absolute;
    top: 250px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    /* opacity: .3; */
}

.BusinessRental .img-container-content>div {
    padding-left: 175px;
    color: #FAF6E9;
    font-size: 26px;
}

.BusinessRental .img-container-content>div h1 {
    margin: 10px 0px;
}

.BusinessRental img {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 340px;
}






.BusinessRental .grid-container {
    display: grid;
    grid-template-columns: 350px 1fr;
    margin: 0px 175px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.BusinessRental .grid-container>* {
    padding: 10px 20px 10px 20px;
}

.BusinessRental .content {
    border: 1px solid gray;
    border-top: none;
}

.BusinessRental .grid-container .content>div {
    margin-bottom: 35px;
}

.BusinessRental .grid-container p {
    margin: 8px 0px;
}







.BusinessRental .link-tree-container {
    background-color: #FAF6E9;
}

.BusinessRental .link-tree {
    position: sticky;
    top: 80px;
}

.BusinessRental .link-tree h3 {
    color: #952323;
    font-weight: 800;
}

.BusinessRental .link-tree ul {
    list-style: none;
    padding: 0;
}

.BusinessRental .link-tree ul li {
    margin: 5px 0px;
    font-weight: 500;
    padding: 5px 0px;
    transition: all 150ms;
}

.BusinessRental .link-tree ul li:hover {
    background-color: #A73121;
    color: #FAF6E9;
}

.BusinessRental .link-tree ul a li {
    color: #952323;
}

.BusinessRental .link-tree ul a {
    text-decoration: none;
}






.BusinessRental .content h3 {
    scroll-margin-top: 80px;
    margin-bottom: 10px;
}

.BusinessRental .subj-content {
    display: grid;
    grid-template-columns: 150px 1fr;
}

.BusinessRental .subj-content .days {
    color: #952323;
    font-weight: 900;
    margin: auto 0px;
}

.BusinessRental .open {
    width: fit-content;
    background-color: rgb(70, 180, 70);
    border-radius: 5px;
    padding: 3px;
    font-weight: 500;
}

.BusinessRental .closed {
    width: fit-content;
    background-color: rgb(205, 57, 57);
    border-radius: 5px;
    padding: 3px;
    font-weight: 500;
}

.BusinessRental .contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 8px 0px;
}

.BusinessRental .contact>* {
    display: flex;
    align-items: center;
}

.BusinessRental .contact svg {
    color: #952323;
    margin: 0px 10px 0px 0px;
}

.BusinessRental .p {
    height: 70px;
}

.BusinessRental #p-m {
    margin: 60px auto 40px auto;
}