.HomePage {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.navbar-placeholder {
    height: 70px;
    background-color: #952323;
}

#searchform {
    scroll-margin-top: 70px;
}

.HomePage .EntireRoadTripInspiration {
    padding: 0px 105px;
}
.HomePage .RoadTripInspiration {
    width: 100%;
}
.HomePage .row-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}